@{
    ViewData["Title"] = "Fale Conosco";
}
<h1 class="titulo">@ViewData["Title"]</h1>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/arquivo.css" />
</head>
<body background="/imagens/background.jpg"> 

<address class="endereco">
    <u>Endereço</u> <br>
    Rua Armando Ferruada Globol <br>
    Porto Alegre<br>
    <u>E-mail</u> <br>
    LeonardoLauerman@gmail.com <Br>
    Leonardo Lauermann <br>
    <u>Telefone</u> <br> 
     (51) 99999-9999

</address>

</body>
</html>