@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body background="./imagens/background.jpg">

<header>
    <div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo à Tornearia Santa Maria</h1>
</header>


        <img src="/imagens/Maquina.jpg" style="float: left;">
        <br><br><br>
            <p>Máquina utilizada pelo nosso profissional Roberto durante o seu tempo de serviço</p>
            <p>Horários de serviços:</p>
            <p>Segunda a Sexta : 08:00-12:00 e 13:30-20:00</p>
            <p>Sábado: 09:00-12:00</p>
    
</div>
</body>
</html>

