@{
    ViewData["Title"] = "Quem Somos";
}
<h1 class="titulo">@ViewData["Title"]</h1>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos - Santa Maria</title>
    <link rel="stylesheet" href="~/css/arquivo.css" />
</head>
<body background="/imagens/background.jpg">  
<p id="textqs">Somos uma pequena empresa localizada em Porto Alegre. A ideia surgiu após longos anos trabalhando para empresas grandes
    mas com pouca chance de promoção. <br>
Aqui você vai encontrar todo tipo de peças que você deseja para facilitar a sua vida.<br>
xasdnoaisjdoiajsdojaosidoasjdojPOWGOInasfonOJSOFDGNOnonfsçkljngboisrfxasdnoaisjdoiajsdojaosidoasjdojPOWGOInasfonOJSOFDGNOnonfs<br>çkljngboisrfxasdnoaisjdoiajsdojaosidoasjdojPOWGOInasfonOJSOFDGNOnonfsçkljngboisrf<br>
xasdnoaisjdoiajsdojaasdasdqweqwesgdsfhdthjaosidoasjdojPOWGOInasfonOJSOFDGNOnonfs<br>xasdnoaisjdoiajsdojaosidoasjdojPOWGOInasfonOJSOFDGNOnonfsçkljngboisrfxasdnoaisjdoiajsdojaosidoasjdojPOWGOInasfonOJSOFDGNOnonfs<br>
xasdnoaisjdoiajsdojaosidoasjdojPOWGOInasfonOJSOFDGNOnonfsçkljngboasdawdqegtsfhdtyjsruykjtukyilsfonOJSOFDGNOnonfs<br>xasdnoaisjdoiajsdojaosidoasjdojPOWGOInasfonOJSOFDGNOnonfsçkljngboisrfxasdnoaisjdoiajsdojaosidoasjdojPOWGOInasfonOJSOFDGNOnonfs<br>
çkljngboisrfxasdnoatyuoç.bjk.,vguklxdcyujNOnonfsçkljngboisrf</p>
<blockquote id="textqs">
    "Não desista. Geralmente é a última chave no chaveiro que abre a porta."  <br>
    -- Paulo Coelho
</blockquote>
</body>
</html>