

.name {margin-left: 1%;}
.number {margin-left: 6.3%}
.email {margin-left: 7.6%;}
.titulo {margin-left: auto; text-align: center;}
.endereco {text-align: center;}
#textqs {text-align: center;}
.alinhamento {margin-left: auto; margin-right: auto; text-align: center;}
